# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

.VSCodeCounter/2025-02-05_17-28-54/details.md
.VSCodeCounter/2025-02-05_17-28-54/diff-details.md
.VSCodeCounter/2025-02-05_17-28-54/diff.csv
.VSCodeCounter/2025-02-05_17-28-54/diff.md
.VSCodeCounter/2025-02-05_17-28-54/diff.txt
.VSCodeCounter/2025-02-05_17-28-54/results.csv
.VSCodeCounter/2025-02-05_17-28-54/results.json
.VSCodeCounter/2025-02-05_17-28-54/results.md
.VSCodeCounter/2025-02-05_17-28-54/results.txt
.VSCodeCounter/

# Firebase configuration
lib/services/firebase_options_*.dart
android/app/google-services.json
firebase.json
android/app/google-services.json
firebase.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
